.donation{
    background-color: #F8DB82;
    height: 100dvh;
    position: fixed;
    z-index: 99;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    > div{

        padding: 20px;
        background-color: white;

        > img{
            height: 50vh;
        }
    }

    @media screen and (max-width: 500px) {
        > div >img{
            width: 80vw;
            height: auto;
        }
    }
}