@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #F8DB82;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #a83c3c;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(105, 33, 33);
}